- attributes("title") = "Todd Davies"
- attributes("headline") = "Todd Davies"

ul
    li
        a(href="http://github.com/todd-davies") Github
    li
        a(href="http://twitter.com/todd__davies") Twitter
    li
        a(href="downloads/cv.pdf") CV